.card-body {
  /* background-image: linear-gradient(to right, #D500F9, #FFD54F); */
  background-color: #CCD6DD;
}
.navbar{
background-color:  #292F33;
color:#fff;
}
/* .nav-item{
  font:#fff;

} */
.nav-link{
  color:#fff;
}
.card-header{
  background-color:   #66757F;
}
.nav-item{
  color:#fff;
}
